<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
  <div class="container-xxl">
    <div
      class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column"
    >
      <div class="text-body">
        Corporate Real Estate Management System © Made By
        <a href="https://www.github.com/eiasinprodhan" target="_blank" class="footer-link"
          >Eiasin Prodhan</a
        >
      </div>
    </div>
  </div>
</footer>
<!-- / Footer -->
