<div class="card">
  <div class="card-datatable table-responsive pt-0">
    <div
      id="DataTables_Table_0_wrapper"
      class="dt-container dt-bootstrap5 dt-empty-footer"
    >
      <!-- Header -->
      <div
        class="row card-header flex-column flex-md-row border-bottom mx-0 px-3"
      >
        <div
          class="d-md-flex justify-content-between align-items-center dt-layout-start col-md-auto me-auto mt-0"
        >
          <h5 class="card-title mb-0 text-md-start text-center pb-md-0 pb-6">
            Floors
          </h5>
        </div>
        <div
          class="d-md-flex justify-content-between align-items-center dt-layout-end col-md-auto ms-auto mt-0"
        >
          <a routerLink="/addfloors">
            <button class="btn btn-primary" type="button">
              <i class="fa-solid fa-plus mx-1"></i>Add New Floor
            </button>
          </a>
        </div>
      </div>

      <!-- Filter Controls -->
      <div class="row mx-0 px-3 my-0 justify-content-between border-bottom">
        <div
          class="d-md-flex justify-content-between align-items-center dt-layout-start col-md-auto me-auto mt-0"
        >
          <div class="dt-length">
            <label for="dt-length-0">
              Show
              <select
                name="DataTables_Table_0_length"
                class="form-select"
                id="dt-length-0"
              >
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
              entries
            </label>
          </div>
        </div>
        <div
          class="d-md-flex justify-content-between align-items-center dt-layout-end col-md-auto ms-auto mt-0"
        >
          <div class="dt-search mt-0 mt-md-6 mb-6">
            <label for="dt-search-0">Search:</label>
            <input
              type="search"
              class="form-control ms-4"
              id="dt-search-0"
              placeholder=""
            />
          </div>
        </div>
      </div>

      <!-- Table -->
      <div class="justify-content-between dt-layout-table">
        <div
          class="d-md-flex justify-content-between align-items-center dt-layout-full table-responsive"
        >
          <table
            class="datatables-basic table dataTable dtr-column"
            id="DataTables_Table_0"
          >
            <thead>
              <tr>
                <th>ID</th>
                <th>Floor Name</th>
                <th>Building</th>
                <th>Stages</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let floor of floors | async">
                <td>{{ floor.id }}</td>
                <td>{{ floor.name }}</td>
                <td>{{getBuildingName(floor.building) }}</td>
                <td><a routerLink="/liststages/{{floor.id}}">
                  <button class="btn btn-primary">View</button>
                </a></td>
                <td>
                  <div class="d-flex gap-2">
                    <button
                      class="btn btn-sm btn-outline-info"
                      (click)="viewFloors(floor.id)"
                    >
                      <i class="fa fa-eye"></i>
                    </button>
                    <button
                      class="btn btn-sm btn-outline-primary"
                      (click)="editFloors(floor.id)"
                    >
                      <i class="fa fa-edit"></i>
                    </button>
                    <button
                      class="btn btn-sm btn-outline-danger"
                      (click)="deleteFloors(floor.id)"
                    >
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Footer -->
      <div class="row mx-3 justify-content-between">
        <div
          class="d-md-flex justify-content-between align-items-center dt-layout-start col-md-auto me-auto mt-0"
        >
          <div
            class="dt-info"
            aria-live="polite"
            id="DataTables_Table_0_info"
            role="status"
          >
            Showing 0 to 0 of 0 entries
          </div>
        </div>
        <div
          class="d-md-flex justify-content-between align-items-center dt-layout-end col-md-auto ms-auto mt-0"
        >
          <div class="dt-paging">
            <nav aria-label="pagination"></nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
