<div class="row mb-5">
  <div class="col-12">
    <div class="card">
      <div class="user-profile-header-banner">
        <div class="position-absolute top-0 end-0 p-3">
          <button
            type="button"
            class="btn btn-primary"
            onclick="history.back()"
          >
            <i class="fa-solid fa-arrow-left mx-1"></i>Return
          </button>
        </div>
        <img
          src="assets/img/pages/profile-banner.jpg"
          alt="Banner image"
          class="rounded-top"
          width="100%"
        />
      </div>
      <div
        class="user-profile-header d-flex flex-column flex-lg-row text-sm-start text-center mb-5"
      >
        <div class="flex-shrink-0 mt-n5 mx-sm-0 mx-auto">
          <img
            src="{{employee.photo}}"
            alt="{{employee.name}}"
            class="d-block h-auto ms-0 ms-sm-6 rounded user-profile-img"
            style="height: 150px; width: 150px"
          />
        </div>
        <div class="flex-grow-1 mt-3 mt-lg-5">
          <div
            class="d-flex align-items-md-end align-items-sm-start align-items-center justify-content-md-between justify-content-start mx-5 flex-md-row flex-column gap-4"
          >
            <div class="user-profile-info">
              <h4 class="mb-2 mt-lg-6">{{employee.name}}</h4>
              <ul
                class="list-inline mb-0 d-flex align-items-center flex-wrap justify-content-sm-start justify-content-center gap-4 my-2"
              >
                <li class="list-inline-item d-flex gap-2 align-items-center">
                  <i class="icon-base ti tabler-palette icon-lg"></i
                  ><span class="fw-medium">{{employee.role}}</span>
                </li>
                <li class="list-inline-item d-flex gap-2 align-items-center">
                  <i class="icon-base ti tabler-map-pin icon-lg"></i
                  ><span class="fw-medium">{{employee.country}}</span>
                </li>
                <li class="list-inline-item d-flex gap-2 align-items-center">
                  <i class="icon-base ti tabler-calendar icon-lg"></i
                  ><span class="fw-medium"
                    >{{employee.joiningDate | date}}</span
                  >
                </li>
              </ul>
            </div>

            <p
              [ngClass]="employee.status ? 'btn-success' : 'btn-danger'"
              class="btn mb-1 waves-effect waves-dark"
            >
              {{ employee.status ? 'Active' : 'Inactive' }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-4 col-lg-5 col-md-5">
    <div class="card mb-6">
      <div class="card-body">
        <p class="card-text text-uppercase text-body-secondary small mb-0">
          About
        </p>
        <ul class="list-unstyled my-3 py-1">
          <li class="d-flex align-items-center mb-4">
            <i class="icon-base ti tabler-user icon-lg"></i
            ><span class="fw-medium mx-2">Full Name:</span>
            <span>{{employee.name}}</span>
          </li>
          <li class="d-flex align-items-center mb-4">
            <i class="icon-base ti tabler-id icon-lg"></i
            ><span class="fw-medium mx-2">NID:</span>
            <span>{{employee.nid}}</span>
          </li>
          <li class="d-flex align-items-center mb-4">
            <i class="icon-base ti tabler-calendar icon-lg"></i
            ><span class="fw-medium mx-2">Joining Date:</span>
            <span>{{employee.joiningDate | date}}</span>
          </li>
          <li class="d-flex align-items-center mb-4">
            <i class="icon-base ti tabler-file-typography icon-lg"></i
            ><span class="fw-medium mx-2">Salary Type:</span>
            <span>{{employee.salarytype}}</span>
          </li>
          <li class="d-flex align-items-center mb-4">
            <i class="icon-base ti tabler-coin icon-lg"></i
            ><span class="fw-medium mx-2">Salary:</span>
            <span>{{employee.salary}}</span>
          </li>
          <li class="d-flex align-items-center mb-4">
            <i class="icon-base ti tabler-flag icon-lg"></i
            ><span class="fw-medium mx-2">Country:</span>
            <span>{{employee.country}}</span>
          </li>
        </ul>
        <p class="card-text text-uppercase text-body-secondary small mb-0">
          Contacts
        </p>
        <ul class="list-unstyled my-3 py-1">
          <li class="d-flex align-items-center mb-4">
            <i class="icon-base ti tabler-phone-call icon-lg"></i
            ><span class="fw-medium mx-2">Contact:</span>
            <span>{{employee.phone}}</span>
          </li>
          <li class="d-flex align-items-center mb-4">
            <i class="icon-base ti tabler-mail icon-lg"></i
            ><span class="fw-medium mx-2">Email:</span>
            <span>{{employee.email}}</span>
          </li>
        </ul>
        <p class="card-text text-uppercase text-body-secondary small mb-0">
          Address
        </p>
        <ul class="list-unstyled my-3 py-1">
          <li class="d-flex align-items-center mb-4">
            <span>{{employee.address}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xl-8 col-lg-7 col-md-7">
    <div class="card mb-6">
      <div class="mb-4">
        <div
          id="DataTables_Table_0_wrapper"
          class="dt-container dt-bootstrap5 dt-empty-footer"
        >
          <div class="row mx-md-3 my-0 justify-content-between">
            <div
              class="d-md-flex justify-content-between align-items-center dt-layout-start col-md-auto me-auto"
            >
              <h5
                class="card-title mb-0 text-md-start text-center pt-md-0 pt-6"
              >
                Work History
              </h5>
            </div>
            <div
              class="d-md-flex justify-content-between align-items-center dt-layout-end col-md-auto ms-auto gap-md-2 gap-0 mt-0"
            >
              <div class="dt-search">
                <input
                  type="search"
                  class="form-control"
                  id="dt-search-0"
                  placeholder="Search..."
                  aria-controls="DataTables_Table_0"
                /><label for="dt-search-0"></label>
              </div>
            </div>
          </div>
          <div class="justify-content-between dt-layout-table">
            <div
              class="d-md-flex justify-content-between align-items-center dt-layout-full table-responsive"
            >
              <ng-container *ngIf="employee.role === 'Project Manager'">
                <table
                  class="datatables-basic table dataTable dtr-column"
                  id="DataTables_Table_0"
                  aria-describedby="DataTables_Table_0_info"
                >
                  <colgroup>
                    <col data-dt-column="0" />
                    <col data-dt-column="1" />
                    <col data-dt-column="3" />
                    <col data-dt-column="4" />
                    <col data-dt-column="5" />
                    <col data-dt-column="6" />
                    <col data-dt-column="7" />
                    <col data-dt-column="8" />
                  </colgroup>
                  <thead>
                    <tr>
                      <th class="dt-orderable-asc dt-orderable-desc">
                        Project Name
                      </th>
                      <th class="dt-orderable-asc dt-orderable-desc">
                        Start Date
                      </th>
                      <th class="dt-orderable-asc dt-orderable-desc">
                        End Date
                      </th>
                      <th class="dt-orderable-asc dt-orderable-desc">
                        Location
                      </th>
                      <th class="dt-orderable-asc dt-orderable-desc">Status</th>
                      <th class="dt-orderable-asc dt-orderable-desc">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let wh of workHistoryData | async">
                      <td>{{ wh.name }}</td>
                      <td>{{ wh.startDate | date }}</td>
                      <td>{{ wh.endDate | date }}</td>
                      <td>{{ wh.location }}</td>
                      <td>
                        <span
                          [ngClass]="getStatusClass(wh.status)"
                          class="badge rounded-pill"
                        >
                          {{ wh.status }}
                        </span>
                      </td>
                      <td>
                        <div class="d-flex gap-2">
                          <a routerLink="/viewprojects/{{wh.id}}">
                            <button class="btn btn-sm btn-outline-info">
                              <i class="fa fa-eye"></i>
                            </button>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </ng-container>

              <ng-container *ngIf="employee.role === 'Site Manager'">
                <table
                  class="datatables-basic table dataTable dtr-column"
                  id="DataTables_Table_0"
                >
                  <thead>
                    <tr>
                      <th>Building Name</th>
                      <th>Type</th>
                      <th>Floors</th>
                      <th>Units</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let wh of workHistoryData|async">
                      <td>{{ wh.name }}</td>
                      <td>{{ wh.type }}</td>
                      <td>{{ wh.floorCount }}</td>
                      <td>{{ wh.unitCount }}</td>
                      <td>
                        <div class="d-flex gap-2">
                          <a routerLink="/viewbuildings/{{wh.id}}">
                            <button class="btn btn-sm btn-outline-info">
                              <i class="fa fa-eye"></i>
                            </button>
                          </a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="row mx-3 justify-content-between">
          <div
            class="d-md-flex justify-content-between align-items-center dt-layout-start col-md-auto me-auto"
          >
            <div
              class="dt-info"
              aria-live="polite"
              id="DataTables_Table_0_info"
              role="status"
            >
              Showing 0 to 0 of 0 entries
            </div>
          </div>
          <div
            class="d-md-flex justify-content-between align-items-center dt-layout-end col-md-auto ms-auto gap-md-2 gap-0 mt-0"
          >
            <div class="dt-paging">
              <nav aria-label="pagination"></nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
