<div class="card">
  <div class="card-datatable table-responsive pt-0">
    <div class="dt-container dt-bootstrap5 dt-empty-footer">

      <div class="row card-header flex-column flex-md-row border-bottom mx-0 px-3">
        <div class="col-md-auto me-auto mt-0">
          <h5 class="card-title mb-0 text-md-start text-center">Projects</h5>
        </div>
        <div class="col-md-auto ms-auto mt-0">
          <a routerLink="/addprojects">
            <button class="btn btn-primary" type="button">
              <i class="fa-solid fa-plus mx-1"></i>Add New Projects
            </button>
          </a>
        </div>
      </div>

      <div class="justify-content-between dt-layout-table">
        <div class="table-responsive">
          <table class="datatables-basic table dataTable">
            <thead>
              <tr>
                <th>ID</th>
                <th>Project Name</th>
                <th>Budget</th>
                <th>Start Date</th>
                <th>Expected End Date</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of projects | async">
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.budget | currency }}</td>
                <td>{{ project.startDate | date: 'mediumDate' }}</td>
                <td>{{ project.expectedEndDate | date: 'mediumDate' }}</td>

                <td>
                  <span
                    class="badge px-3 py-2 text-white rounded-pill"
                    [ngClass]="getStatusClass(getProjectStatus(project))"
                  >
                    {{ getProjectStatus(project) }}
                  </span>
                </td>

                <td>
                  <div class="d-flex gap-2">
                    <button
                      class="btn btn-sm btn-outline-info"
                      (click)="viewProjects(project.id)"
                    >
                      <i class="fa fa-eye"></i>
                    </button>

                    <button
                      class="btn btn-sm btn-outline-primary"
                      (click)="editProjects(project.id)"
                    >
                      <i class="fa fa-edit"></i>
                    </button>

                    <button
                      class="btn btn-sm btn-outline-danger"
                      (click)="deleteProjects(project.id)"
                    >
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
