@media print {
  * {
    print-color-adjust: exact !important;
    color: exact !important;
  }
  
  body * {
    visibility: hidden;
  }
  
  #bookingToPrint,
  #bookingToPrint * {
    visibility: visible;
  }
  
  #bookingToPrint {
    position: static !important;
    left: auto !important;
    top: auto !important;
    width: 210mm !important;
    height: 297mm !important;
    margin: 0 !important;
    padding: 15mm !important;
    box-shadow: none !important;
    page-break-after: avoid !important;
    overflow: hidden !important;
  }
  
  @page {
    size: A4;
    margin: 0;
  }
}