<div *ngIf="message" class="alert" [ngClass]="'alert-' + messageType">
  {{ message }}
</div>

<div class="card">
  <div class="row card-header flex-column flex-md-row border-bottom mx-0 px-3">
    <div class="col-md-auto me-auto d-md-flex align-items-center">
      <h5 class="card-title mb-0 text-md-start text-center">
        Edit Building
      </h5>
    </div>
    <div class="col-md-auto d-flex justify-content-end align-items-center">
      <a routerLink="/listbuildings">
        <button type="button" class="btn btn-primary">
          <i class="fa-solid fa-arrow-left mx-1"></i>Return
        </button>
      </a>
    </div>
  </div>

  <div class="card-body">
    <form (ngSubmit)="updateBuilding()" #buildingForm="ngForm">
      <div class="row mt-4">
        <div class="col-md-6 mb-3">
          <label for="name" class="form-label fw-bold">Building Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            name="name"
            [(ngModel)]="building.name"
            required
          />
        </div>

        <div class="col-md-6 mb-3">
          <label for="type" class="form-label fw-bold">Building Type</label>
          <select
            id="type"
            class="form-select"
            name="type"
            [(ngModel)]="building.type"
            required
          >
            <option value="" disabled>Select Type</option>
            <option value="Residential">Residential</option>
            <option value="Commercial">Commercial</option>
            <option value="Mixed-use">Mixed Use</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="project" class="form-label fw-bold">Project</label>
          <select
            id="project"
            class="form-select"
            name="project"
            [(ngModel)]="building.project"
            required
          >
            <option value="" disabled>Select Project</option>
            <option *ngFor="let p of projects" [value]="p.id">
              {{ p.name }}
            </option>
          </select>
        </div>

        <div class="col-md-6 mb-3">
          <label for="siteManager" class="form-label fw-bold">Site Manager</label>
          <select
            id="siteManager"
            class="form-select"
            name="siteManager"
            [(ngModel)]="building.siteManager"
            required
          >
            <option value="" disabled>Select Site Manager</option>
            <option *ngFor="let e of siteManagers | async" [value]="e.id">
              {{ e.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="floorCount" class="form-label fw-bold">Number of Floors</label>
          <input
            type="number"
            id="floorCount"
            class="form-control"
            name="floorCount"
            [(ngModel)]="building.floorCount"
          />
        </div>

        <div class="col-md-6 mb-3">
          <label for="unitCount" class="form-label fw-bold">Number of Units</label>
          <input
            type="number"
            id="unitCount"
            class="form-control"
            name="unitCount"
            [(ngModel)]="building.unitCount"
          />
        </div>
      </div>

      <!-- Photo field -->
      <div class="row">
        <div class="col-md-12 mb-3">
          <label for="photo" class="form-label fw-bold">Photo URL</label>
          <input
            type="text"
            id="photo"
            class="form-control"
            name="photo"
            [(ngModel)]="building.photo"
          />
        </div>
      </div>

      <button type="submit" class="btn btn-success">
        <i class="fa-solid fa-floppy-disk mx-1"></i>Update Building
      </button>
    </form>
  </div>
</div>
